*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
h2, h3{
    font-family: idroid, sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(to right, rgba(41, 216, 41, 0.438), white);
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 40px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
mark{
    font-family: Bebas Neue, cursive;
    background-color: rgba(41, 216, 41, 0.438);
    border-radius: 2px;
    padding: 2px;
}
.fundoDaPagina{
    background-color: #1F3757;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho{
    background-image: linear-gradient(#4F6ED1, #5C7FF4, #4058A8);
    color:white;
}
.apresentacao{
    text-align: center;
    padding: 25px;
}
.apresentacao p{
    padding-top: 20px;
}
#navegation{
    color: white;
    margin-top: 4px;
}
.listaDoNav{
    display: flex;
    list-style: none;
}
.listaDoNav a{
    text-decoration: none;
    padding: 17px;
    color: white;
}
ul li:hover{
    border-bottom: 1px solid black;
}
main{
    margin: 0 auto;
    background-color: white;
    min-width: 400px;
    max-width: 800px;
}
h2, h3, main p{
    text-align: justify;
    padding: 10px;
}
.bgdroid{
    text-align: center;
}
.video{
    background-color: rgb(34, 92, 12);
    text-align: center;
    padding: 10px;
}